backend/.env
frontend/.env

# generated folders
frontend/node_modules
backend/node_modules
frontend/dist
backend/dist

# generated frontend build artifacts
frontend/*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js

# editor files
.vscode
.DS_Store
